.card {
  width: 100%;
}

.card__image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  @extend .mb2;
}

.card__image--inline {
  height: 80px;
}

.card__title {
  @extend .f4;
@extend .mb2;
}

.card__description {
  @extend .f5;
  @extend .mb2;
}

.card__price {
  @extend .f6;
  @extend .mb2;
  @extend .db;
}

.card__price--has-discount {
  text-decoration: line-through;
}

.card__discount-price {
  @extend .f6;
  @extend .mb2;
  @extend .dib;
  @extend .pv1;
  @extend .ph2;
  background: red;
  color: palette(white);
}
