.image__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  object-fit: cover;
}

.image__loading {
  transition: opacity ease-in 0.5s;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  filter: blur(5px);
  clip-path: inset(0);
  object-fit: cover;
}

.image,
.image__loading {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 2s;
  animation-name: zoom;
  animation-duration: 2s;
}

@keyframes zoom {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
